#footer {
  color: var(--clr-gold);
  font-size: 1.1rem;
  background-color: black;
  padding: 20px 0;
}

.title-hl {
  color: var(--clr-gold);
}

.footer-title {
  color: var(--clr-brown);
}

.footer-main {
  display: flex;
  justify-content: center;
}

.footer-section {
  /* border: 1px solid white; */
  width: 100%;
  font-size: 1.1rem;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.9rem; /*standard 1.65rem */
}

.soc-med-icon {
  margin-right: 0.5rem;
}

.copyright {
  font-size: 1rem;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  color: inherit;
  text-decoration: underline;
}
