.form-group {
  margin: 16px 0;
}

.form-group Label {
  margin-bottom: 5px;
}

@media (min-width: 62em) {
  .flex-container {
    display: flex;
  }

  .form-banner {
    margin-left: 1.5em;
  }
}

@media (max-width: 62em) {
  .form-banner {
    margin: 1.5em 0;
  }
}

Form {
  max-width: 750px;
  flex: 2;
}

.form-banner {
  position: relative;
  background-color: var(--clr-gold);
  border-radius: var(--radius);
  flex: 1.2;
}

.form-banner img{
  border-radius: var(--radius);
  object-fit: cover;
  height: 100%;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.form-banner .banner-caption{
  border: 3px solid #f1f1f1;
  color: white;
  background-color: rgba(0,0,0, 0.4);
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
